h1  {
    text-align: center;
}

body {
    background: #ffdab9;
    font-family: Georgia, 'Times New Roman', Times, serif ;
     /*font-family: "BodoniXT";*/ 
}

div.intro    {
    border-color: #B9FFFD;
    border-style: ridge;
    border-width: 3px;
    background: white;
    text-align: center;
    width: 400px ;
    margin: auto;
}

/*figure > .images {
    border: 2px outset #F08000;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
}
*/

.Image_Block {
    text-align: center;
    margin: auto;
    background: white;
    border: 1px solid #BBFFB9;
    max-width: fit-content;
}

.Data_table {
    background-color: #B9FFDA;
    max-width: fit-content;
    margin: auto;
}

table   {
    table-layout: auto; 
}

th, td  {
    border: 2px solid #FFB9DE;
}

footer  {
    background-color: #FFF6ED;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: auto;
}
