h1  {
    text-align: center;
}

body {
    background: #ffdab9;
    font-family: Georgia, 'Times New Roman', Times, serif ;
     /*font-family: "BodoniXT";*/ 
}

div.intro    {
    border-color: #B9FFFD;
    border-style: ridge;
    border-width: 3px;
    background: white;
    text-align: center;
    width: 400px ;
}

/*figure > .images {
    border: 2px outset #F08000;
    border-radius: 5px;
    max-width: 100px;
    max-height: 100px;
}
*/

.Data_table {
    background-color: #B9FFDA;
    max-width: fit-content;
}


table   {
    table-layout: auto; 
}

th, td  {
    border: 1px ridge #FFB9DE;
}